rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /jobs_list/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /jobs_list/{parent}/job/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/job/{document} {
      allow read: if true;
    }

  }
}
